/* Write your code here. */

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}
.superLeague-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blue;
  min-height: 100vh;
}

.heading {
  color: beige;
  font-size: 25px;
  font-weight: 700;
  font-family: "Roboto";
}

.image {
  width: 150px;
  height: 150px;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 64px;
  }
}

@media screen and (min-width: 768px) {
  .image {
    width: 300px;
    height: 300px;
  }
}
